body, html {
  margin: 0;
  padding: 0;
  background: #F5F5F5;
  width: 100%;
}

.application-info-div {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 800px;
  height: 120px;
  background: #FFFFFF;
  margin: 3% 0 0 0;
}

.main-connection-div {
  margin: 5px 0 0 0;
  padding: 20px;
  background: #FFFFFF;
  width:800px;
  height:350px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.icon-service {
  border-right: 5px solid #F5F5F5;
  width: 120px;
  margin: 0;
  padding: 0;
}

.text-application-info-div {
  position: relative;
  top: -110px;
  left: 135px;
}

.title-text-application-info-div {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 23px;
  font-weight: 500;
  width: 82%;
}

.description-text-application-info-div {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size; 16px;
  width: 82%;
}

.application-status {
  margin: 0px 0 0 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 13px;
}

.green-text {
  color: #2ecc71;
}

.cookies-used {
  width: 800px;
  background: rgba(0, 0, 0, 0.9);
  margin-left: auto !important;
  margin-right: auto !important;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #FFF;
  margin: 5px 0 0 0;
  font-weight: 400;
  padding: 20px;
  transition: .4s background;
  
}

.cookies-used:hover {
  background: rgba(0, 0, 0, 0.65);
}

.log-in-main-connection-div {
  width: 50%;
  left: 0;
  float: left;
  height: 100%;
}

.register-main-connection-div {
  width: 50%;
  right: 0;
  height: 100%;
  float: left;
}

.title-log-in-main-connection-div {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin: 5px 0 0 15px;
  padding: 0;
}

.title-register-main-connection-div {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin: 5px 0 0 15px;
  padding: 0;
}

 .main-connection-div .input-field {
   width: 80%;
   margin: 20px 0 0 30px;
 }
   
 /* label focus color */
.main-connection-div .input-field input[type=text]:focus + label {
   color: #ffa500;
}
.main-connection-div .input-field input[type=password]:focus + label {
   color: #ffa500;
}

 /* label underline focus color */
 .main-connection-div .input-field input[type=text]:focus {
   border-bottom: 1px solid #ffa500;
   box-shadow: 0 1px 0 0 #ffa500;
 } 

.main-connection-div .input-field input[type=password]:focus {
   border-bottom: 1px solid #ffa500;
   box-shadow: 0 1px 0 0 #ffa500;
 } 

/* valid color */
 .main-connection-div .input-field input[type=text].valid {
   border-bottom: 1px solid #ffa500;
   box-shadow: 0 1px 0 0 #ffa500;
 }

 /* invalid color */
 .main-connection-div .input-field input[type=text].invalid {
   border-bottom: 1px solid #ffa500;
   box-shadow: 0 1px 0 0 #ffa500;
 }

.password-forgotten {
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin: 15px 0 0 30px;
  width: 100%;
  height: 100%;
}

.remember-me-check {
  position: relative;
  top: 10px;
  color: #ffa500 !important;
  margin: 0 0 0 10px;
}

.password-reset-div {
  display: none;
}

.black-complete-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  z-index: 10000;
}

.content-password-reset-div {
  position: fixed;
  background: #F5F5F5;
  width: 40%;
  min-width: 600px;
  padding: 20px;
  top: 40%;
  margin-left: auto !important;
  margin-right: auto !important;
  left: 0;
  right: 0;
  z-index: 100000;
}

.title-content-password-reset-div {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.content-content-password-reset-div {
  margin: 20px 0 0 0;
  width: 100%;
}

.text-content-content-password-reset-div {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  width: 100%;
}

 .content-content-password-reset-div .input-field {
   width: 50%;
   margin: 20px 0 0 0;
 }
   
 /* label focus color */
.content-content-password-reset-div .input-field input[type=text]:focus + label {
   color: #ffa500;
}

 /* label underline focus color */
 .content-content-password-reset-div .input-field input[type=text]:focus {
   border-bottom: 1px solid #ffa500;
   box-shadow: 0 1px 0 0 #ffa500;
 } 

/* valid color */
 .content-content-password-reset-div .input-field input[type=text].valid {
   border-bottom: 1px solid #ffa500;
   box-shadow: 0 1px 0 0 #ffa500;
 }

 /* invalid color */
 .content-content-password-reset-div .input-field input[type=text].invalid {
   border-bottom: 1px solid #ffa500;
   box-shadow: 0 1px 0 0 #ffa500;
 }

.options-alert {
  position: absolute;
  bottom: -60px;
  height: 60px;
  background: #F5F5F5;
  width: 100%;
  left: 0;
  padding: 20px 20px 40px 20px;
}

.right-options-alert {
  position: absolute;
  right: 0;
}

.options-alert a {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  color: #777;
  padding: 10px 30px;
}

.twitter-timeline{
  height:290px;
  border-color:red;
  border:none;
}